body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px; 
}

#title {
    font-size: 36px; /* Microsoft Word 27pt converted to px */
    font-weight: bold;
    letter-spacing: 2px;
}

#board {
    width: 350px;
    height: 420 px;
    margin: 50px auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.rows {
    display: flex;
}

.tile {
    /* box */
    border: 2px solid lightgrey;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #72b368;
    color: white;
    border-color: white;
    transition-duration: 0.5s;
}

.present {
    background-color: #ddc747;
    color: white;
    border-color: white;
    transition-duration: 0.5s;
}

.absent {
    background-color: #a2a6a8;
    color: white;
    border-color: white;
    transition-duration: 0.5s;
}

.invalid {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.2s;
    /* When the animation is finished, start again */
    animation-iteration-count: 2;
    
}

@keyframes shake {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
   }